image: registry.gitlab.com/new-age-tech/gitlab-ci-runner-docker/gitlab-ci-runner-docker:latest

stages:
- staging
- production

.info_script: &info_script |
  pwd

.ssh_from_gitlab_ci_runner_script: &ssh_from_gitlab_ci_runner_script |
  /bin/bash -c 'bash <(curl -s https://gist.githubusercontent.com/webyneter/a727ef1c00ccddfb52b34a100f6f78a4/raw/6266fc7472f70d45fe668958704cb249e17309f8/ssh_from_gitlab_ci_runner.bash)'

.ansible_play_script: &ansible_play_script |
  ansible-playbook --verbose --inventory ./hosts.yml play.yml --extra-vars "host=${HOST} docker_user=${NON_ROOT_USER}"

.base_job: &base_job
  only:
  - master
  when: manual
  script:
  - *ansible_play_script

before_script:
- *info_script
- /ssh_add_private_key

provision_staging:
  <<: *base_job
  stage: staging
  variables:
    HOST: "vps572794.ovh.net"
    NON_ROOT_USER: "staging"

provision_resume_builder:
  <<: *base_job
  stage: production
  variables:
    HOST: "vps198839.vps.ovh.ca"
    NON_ROOT_USER: "production"

provision_tax_filing_forms:
  <<: *base_job
  stage: production
  variables:
    HOST: "vps199175.vps.ovh.ca"
    NON_ROOT_USER: "production"
