image: registry.gitlab.com/new-age-tech/gitlab-ci-runner-docker/gitlab-ci-runner-docker:latest


stages:
- staging
- production


before_script:
- &global_before_script
  # https://gitlab.com/gitlab-org/gitlab-ce/issues/24235
    uname -a && whoami


provision_staging:
  stage: staging

  only:
  - master

  when: manual

  variables:
    HOST: "vps572794.ovh.net"
    NON_ROOT_USER: "staging"

  before_script:
  - *global_before_script
  - /bin/bash -c 'bash <(curl -s https://gist.githubusercontent.com/webyneter/a727ef1c00ccddfb52b34a100f6f78a4/raw/6266fc7472f70d45fe668958704cb249e17309f8/ssh_from_gitlab_ci_runner.bash)'

  script:
  - ansible-playbook --verbose --inventory ./hosts.yml play.yml --extra-vars "host=${HOST} docker_user=${NON_ROOT_USER}"


provision_production:
  stage: production

  only:
  - master

  when: manual

  variables:
    HOST: "vps198839.vps.ovh.ca"
    NON_ROOT_USER: "production"

  before_script:
  - *global_before_script
  - /bin/bash -c 'bash <(curl -s https://gist.githubusercontent.com/webyneter/a727ef1c00ccddfb52b34a100f6f78a4/raw/6266fc7472f70d45fe668958704cb249e17309f8/ssh_from_gitlab_ci_runner.bash)'

  script:
  - ansible-playbook --verbose --inventory ./hosts.yml play.yml --extra-vars "host=${HOST} docker_user=${NON_ROOT_USER}"
