---

- include_tasks: check_required_vars.yml

- name: Turn off password authentication
  replace:
    path: /etc/ssh/sshd_config
    regexp: "^PasswordAuthentication yes$"
    replace: "PasswordAuthentication no"
    backup: yes
  notify: restart ssh

- name: APT
  block:
  - name: Install htop
    package:
      name: htop
      state: present

  - name: Install tree
    package:
      name: tree
      state: present

- include_role:
    name: geerlingguy.docker-2.5.1
