---

- include_tasks: check_required_vars.yml

- name: "Create {{ non_root_user }}"
  user:
    name: "{{ non_root_user }}"

- include_role:
    name: provisio/roles/wtcross.sudoers

- name: Turn off password authentication
  replace:
    path: /etc/ssh/sshd_config
    regexp: "^PasswordAuthentication yes$"
    replace: "PasswordAuthentication no"
    backup: yes
  notify: restart ssh

- name: APT
  block:
  - name: Update APT cache
    apt:
      update_cache: yes

  - name: Install htop
    package:
      name: htop
      state: present

  - name: Install tree
    package:
      name: tree
      state: present

- include_role:
    name: provisio/roles/geerlingguy.docker
